.searchSection
  max-width: 992px
  min-height: 556px
  margin: 0 auto
  background: radial-gradient(circle, rgba(16,29,255,0.19810739436619718) 0%, rgba(8,134,255,0.19810739436619718) 1%, rgba(2,190,254,0.20374119718309858) 32%, rgba(0,213,253,0) 50%)
  background-position: 40px 0px
  background-repeat: no-repeat
  // border-radius: 100px
  background-size: cover
  position: relative
.ContainerPoint
  width: 0
  height: 0
  margin: 0 auto
  position: relative
.rightSphere
  width: 60px
  height: 60px
  position: absolute
  right: -380px
  top: 120px
  background-image: url('../../images/sfera1.png')
  background-size: cover
  opacity: .6
.leftSphere
  width: 40px
  height: 40px
  position: absolute
  right: 380px
  top: 470px
  background-image: url('../../images/sfera1.png')
  background-size: cover
  opacity: .4
.leftLine
  width: 341px
  height: 341px
  position: absolute
  right: 180px
  top: 27px
  background-image: url('../../images/line1.png')
  background-size: cover
  opacity: .6
.rightLine
  width: 200px
  height: 200px
  position: absolute
  right: -460px
  top: 340px
  background-image: url('../../images/line1.png')
  background-size: cover
  opacity: .6
  transform: rotateZ(40deg)
.searchSectionPurpleGradient
  width: 340px
  height: 340px
  position: absolute
  bottom: 0px
  left: 90px
  background: radial-gradient(circle, rgba(107,16,255,0.2732263513513513) 0%, rgba(0,162,253,0) 75%)

.searchSectionLogo
  width: 300px
  height: 105px
  // outline: 1px solid green
  margin: 0 auto 73px
  background-image: url(/images/logo.png)
  background-repeat: no-repeat
  background-position: 10px 0
  text-align: center
  display: grid
  align-content: center
  & p
    font-size: 2rem
    position: relative
    left: 55px
    font-weight: bold
    font-family: 'Montserrat'
.searchSectionBigText
  font-size: 5rem
  font-weight: bold
  font-family: 'Montserrat'
  text-align: center
  // outline: 1px solid green
  max-width: 944px
  min-height: 186px
  margin: 0 auto 28px
.searchSectionSecondText
  font-size: 1.8rem
  font-weight: normal
  font-family: 'Montserrat'
  text-align: center

.applyAsFreelancerDiv
  margin: 0 auto
  width: 260px
  // background: linear-gradient(90deg, rgba(8,134,255,1) 0%, rgba(0,213,253,1) 100%)
.applyAsFreelancerText
  
  font-size: 1.5rem
  margin: 20px auto
  text-align: center
  background: white
  // mix-blend-mode: screen
  background: linear-gradient(90deg, rgba(8,134,255,1) 0%, rgba(0,213,253,1) 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent