.footer
    background-color: #1B215C
    max-width: 1440px
    min-height: 436px
    outline: 1px solid pink
    font-family: Montserrat
    margin: 0 auto

.copyRight
    display: grid
    justify-content: space-between
    align-content: center
    grid-template-columns: auto auto
    max-width: 1024px
    min-height: 122px
    border-top: 1px solid white
    margin: 0 auto
    color: white
.logoSection
    padding: 84px 0
    margin: 0 auto
    max-width: 1024px
    outline: 1px solid grey
    min-height: 314px
    display: grid
    grid-template-columns: auto auto
    color: white
    justify-content: space-between
.logoSectionLogo
    background-image: url(/images/logo.png)
    background-repeat: no-repeat
    height: 110px
    width: 110px
.logoSectionLinks
    width: 490px
    outline: 1px solid green
    position: relative
    left: -15px
    display: grid
    grid-template-columns: auto auto auto
    justify-content: space-between

    
    & li
        list-style-type: none
        padding: 5px 0
        & a 
            color: white
            text-decoration: none
            &:hover
                text-decoration: underline
.footerHeaders
    font-size: 1.1rem